<!-- 
any? devuelve V/F si hay algun error en @usuario. 
any? y empty? son antagónicos
@usuario viene del error en @usuario.save en usuarios#create
-->
<% if @usuario.errors.any? %>
  <!-- 
      CSS en estilos.scss
    Rails incorpora a los mensajes la clase CSS field_with_errors.
    La clase original error_explanation añade un marco rojo inesperado
  -->
  <div id="explicacion_error">
    
    <div class="alert alert-danger">
      <!-- 
      count devuelve la cuenta de los errores asignados a @usuario,
        que han llegado desde usuarios#create.
      pluralize devuelve el primer argumento (entero) y su 
        correspondiente palabra segun su numero (singular o plural)
      plural: anula el inflector de pluralize (ingles, por defecto)
      -->
      El registro contiene <%= pluralize(@usuario.errors.count, "error", plural: "errores") %>.
      <!-- El mensaje duplicado password cant be blank sera eliminado
        en el capitulo 10, con allow_nil: true -->
    </div>
    
    <ul id="mensajes">
      <% @usuario.errors.full_messages.each do |msg| %>
        <li id="errores"><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>