<!-- Capitulo 5.4 Registro de usuaria -->
<% provide(:titulo, 'Registrarse') %>
<h1>New Usuario</h1>

<!-- Anulado por Tutorial -->
<!-- <h1>New Usuario</h1>

<%# render 'form', usuario: @usuario %>

<%# link_to 'Back', usuarios_path %> -->
