<h1>Restablecer contraseña</h1>

<p>Para restablecer su contraseña, pulse en el enlace de abajo</p>

<!-- Ayudante enlace_a NO FUNCIONA AQUI (desde app/helpers/application_helper.rb)-->
<%= link_to "Restablecer contraseña", edit_reseteo_password_url(@usuario.token_reseteo, email: @usuario.email) %>

<p>Este enlace expirará en dos horas</p>

<p>Si no has pedido restablecer tu contraseña, por favor, ignora este mensaje y tu contraseña permanecera igual.</p>