/* Capitulo 5 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* Universal */
// Explicaciones básicas de CSS y SCSS Bootstrap en 5.1.2
/* Para probar los CSS, comentarlos... 
		A la cuenta de la vieja, oiga. */

/* El archivo scaffolds.scss interfiere en el CSS 
  Renombralo para anularlo sin borrarlo */

// Cambio de CSS por SCSS de Sass

// Ocultar las imagenes de la vista HTML 

// img {	display: none; }

/* Variables en Sass
			$variable : valor;*/
/* Variable de color */
$gris_luminoso: #777;
$gris_media_luz: #eaeaea;

/*Variables Less de Bootstrap en:
		http://getbootstrap.com/customize/#less-variables
	Adaptacion de Less a Sass:
		@ = $ (y ya está)*/

/* Capitulo 7 - CSS 1 para Debug*/
@mixin marco {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include marco;
}

/* fin de CSS 1 */

/* CSS 7.1.4 gravatar y barra lateral */
/* sidebar - Barra lateral */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}
/* clase gravatar de para_gravatar en usuarios_helper.rb*/
.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* fin de CSS 7.1.4 */

/* CSS 7.2 - Formularios - Forms */
/* Reutilización de @mixin marco */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include marco;
}

  /* estilos de mensajes de error */

/*#error_explanation { //Esta clase viene del scaffolds.scss*/
#explicacion_error {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
  /* Rails pone los mensajes de error con esta clase */
.field_with_errors {
  /* .has_error es clase de Bootstrap */
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* Fin de CSS 7.2 */

input {
  height: auto !important;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

/* SCSS con Sass */
.center {
  text-align: center;
	 h1 {
  	margin-bottom: 10px;
	}
}

/* CSS
.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}
*/

/* SCSS con Sass */
.izquierda {
	text-align:left;
	h1 {
		margin-bottom: 20px;
	}
}
/* CSS
.izquierda {
	text-align:left;
}

.izquierda h1 {
	margin-bottom: 20px;
}
*/

/* Typography - Tipografía */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gris_luminoso;
  /*color: #777;*/
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

/* SCSS con Sass */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
	&:hover {
  	color: #fff;
  	text-decoration: none;
	}
}

/* CSS
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

// hover - puntero sobre el elemento
#logo:hover {
  color: #fff;
  text-decoration: none;
}*/

/* footer */

/* SCSS con Sass */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gris_media_luz;
  color: $gris_luminoso;
  /*color: #777;*/
	a {
  	color: $gray-darker;
		&:hover {
  		color: $gray;
		}
	}
	small {
  	float: left;
	}

	ul {
  	float: right;
  	list-style: none;
		li {
  		float: left;
  		margin-left: 15px;
		}
	}
}

/* CSS
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
*/