<!-- Pie de página -->
<footer class="footer">
  <small>
    El jodido <a href="http://www.railstutorial.org/">Tutorial de Rails</a>
    por el mismísimo <img src="/assets/gato.jpg" alt="Michael Hartl" width="50" height="50">
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca de nosotras", acerca_path %></li>
      <li><%= link_to "Contacto", contacto_path %></li>
      <li><a href="http://news.railstutorial.org/">Últimas nuevas de Learn Enough</a></li>
    </ul>
  </nav>
</footer>
<!-- Fin de Pie de página -->