  <!-- Inicio con acceso -->
  <div class="row">
    <aside class="col-md-4">
      <section class="info_usuario">
        <%= render 'compartido/info_usuario' %>
      </section>
      <section>
        <%= render 'compartido/formulario_publicacion' %>
      </section>
    </aside>

    <!-- Cap 13.3.3 - Suministro - Feed -->
    <div class="col-md-8">
      <h3>Suministro de Publicaciones</h3>
      <%= render 'compartido/suministro' %>
    </div>
    <!-- Fin Suministro - Feed -->

  </div>
  <!-- Fin de Inicio con acceso -->