<!-- 
	provide Del capitulo 3 
	provide mejor que content_for, para los assets pipeline
-->
<% provide(:titulo, "Contacto") %>
<h1>Contacto</h1>

<h2>
	Ponte en contacto conmigo si quieres. Y si no...
</h2>

<p>
  Contacta con el proyecto en su 
  <a href="http://www.railstutorial.org/contact" target="_blank">página de contacto</a>.
</p>