<% provide(:titulo, "Inicio") %>

<h1> 3 Páginas Estáticas # Inicio #</h1>
	
<p>
	Esta es la página de Inicio del capítulo 3 del tutorial Rails de Learn Enough. ¿O pensabas que lo había hecho yo todo?
</p>

<p>
	Bueno, una parte sí...
</p>
<!-- Limpiado por reinclusion de application.html.erb debido a tests
  en test/controllers/paginas_estaticas_controller_test.rb

<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title><%# yield(:titulo) %> | Tutorial Rails</title>
  </head>
  <body>
    <h1> 3 Páginas Estáticas # Inicio #</h1>
			
    <p>
			Esta es la página de Inicio del capítulo 3 del tutorial Rails de Learn Enough. ¿O pensabas que lo había hecho yo todo?
		</p>

		<p>
			Bueno, una parte sí...
		</p>
  </body>
</html>

-->
